@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 75 40% 98%;
		--foreground: 133.3 15.8% 11.2%;

		--primary: 134.3 32.9% 27.5%;
		--primary-foreground: 0 0% 100%;

		--card: 0 0% 100%;
		--card-foreground: 133.3 15.8% 11.2%;

		--popover: 0 0% 100%;
		--popover-foreground: 133.3 15.8% 11.2%;

		--secondary: 73.3 30% 88.2%;
		--secondary-foreground: 100 18.5% 15.9%;

		--muted: 72 27.8% 92.9%;
		--muted-foreground: 95.3 8.2% 40.6%;

		--accent: 107.1 23.3% 88.2%;
		--accent-foreground: 136.1 33.9% 23.7%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 78.8 19% 83.5%;
		--input: 78.8 19% 83.5%;
		--ring: 98.4 29.1% 33.7%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 120 18.8% 6.3%;
		--foreground: 84 27.8% 92.9%;

		--primary: 92.7 31.4% 34.3%;
		--primary-foreground: 0 0% 100%;

		--card: 120 20% 7.8%;
		--card-foreground: 84 27.8% 92.9%;

		--popover: 120 20% 7.8%;
		--popover-foreground: 84 27.8% 92.9%;

		--secondary: 104.2 22.4% 16.7%;
		--secondary-foreground: 87.7 28.9% 91.2%;

		--muted: 114 16.7% 11.8%;
		--muted-foreground: 96 10.5% 62.7%;

		--accent: 103.8 25.5% 20%;
		--accent-foreground: 96.7 27.3% 87.1%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 120 11.8% 18.2%;
		--input: 120 10.3% 22.7%;
		--ring: 88.4 23.5% 47.6%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
		font-family: 'Inter', sans-serif;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
	font-family: 'Inter';
	src: url('/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

body {
	@apply flex !h-screen w-full max-w-full flex-col overflow-x-hidden lg:flex-row;
}

.brand-logo {
	filter: hue-rotate(283deg) saturate(75%) brightness(72%);
}

.dark .brand-logo {
	filter: hue-rotate(283deg) saturate(55%) brightness(95%);
}

.brand-screenshot {
	filter: hue-rotate(283deg) saturate(75%);
}

.text-lg-skeleton {
	@apply h-7 w-28;
}

.text-base-skeleton {
	@apply h-6 w-28;
}

.card-title-skeleton {
	@apply h-[18px] w-28;
}

.card-description-skeleton {
	@apply h-5 w-28;
}

.badge-skeleton {
	@apply h-[22px] w-16 rounded-full;
}

.button-skeleton {
	@apply h-10 w-32 rounded-md;
}

.switch-skeleton {
	@apply h-6 w-12 rounded-full;
}

.muted-text-box {
	@apply rounded-md border p-2 text-muted-foreground;
}

.text-box {
	@apply rounded-md border p-2;
}
